<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.idenchev"/>

    <bean id="nonSingleton"
          class="com.idenchev.classes.lookupmethod.xml.NonSingleton"
          scope="prototype"/> <!-- Will create a new instance on each request -->

    <bean id="abstractLookup"
          class="com.idenchev.classes.lookupmethod.xml.AbstractLookup">
        <lookup-method name="getNonSingleton" bean="nonSingleton"/>

    </bean>

    <bean id="standardLookup"
          class="com.idenchev.classes.lookupmethod.xml.StandardLookup">
        <property name="nonSingleton" ref="nonSingleton"/> <!-- The lookup method in XML -->
    </bean>

</beans>